.table-container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}
body{
    text-align: center;
    font-family: sans-serif;
  
.table{

    margin: 100px auto;
    border-collapse: collapse;
}
th ,td{
    padding: 15px 50px;

    border: 1px solid #000;
}