.table-container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}
body{
    text-align: center;
    font-family: sans-serif;
    background-image: linear-gradient(to left bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.table{

    margin: 100px auto;
    border-collapse: collapse;
}
th ,td{
    padding: 15px 50px;

    border: 1px solid #000;
}